<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Completed Jobs</ion-title>
  </ion-toolbar>
</ion-header>
  
<ion-content>
  <h5 *ngIf="hasError" text-center>No Completed Jobs available</h5>
  <div *ngIf="!hasError && !loading && !networkfail">
  <ion-card class="card" *ngFor="let job of clientJob.slice().reverse()" (click)="job_details(job)">
    <ion-card-header style="font-size: 20px;color: blue;" class="bold">
      {{job.title}}
    </ion-card-header>
    <ion-card-content style="font-size: 18px;">
    Your Job was {{job.status}} by the professional {{job.professional}} for the cost of {{job.job_cost}}.
      <br>
      <div *ngIf="(job.rating != null)">
        <!--
  <rating [(ngModel)]="job.rating" [ngModelOptions]="{standalone: true}" 
          readOnly="true" 
          max="5" 
          emptyStarIconName="star-outline" 
          halfStarIconName="star-half" 
          starIconName="star" 
          nullable="false" 
          >
        </rating>
        -->
      <rating [(ngModel)]="job.rating"
        readonly="true" 
        size="default" 
        (ngModelChange)="onModelChange($event)">
      </rating>
        </div>
        <div *ngIf="(job.rating == null)"><br>
          <p ion-text color="dark" text-center>Not yet rated</p>
        </div>
    </ion-card-content>
  </ion-card>
  </div>
  <div class="spin" *ngIf="loading">
    <ion-spinner class="large" name="dots"></ion-spinner>
  </div>
  <div class="spin" *ngIf="networkfail">
    <b>No internet connection</b>
  </div>
</ion-content>