<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-header>
    <ion-toolbar class="user-profile">
        <ion-grid>
            <ion-row>
              <ion-col col-4>
                  <div class="user-avatar">
                    <img src="assets/imgs/side.png">
                  </div>
              </ion-col>
              <ion-col padding-top col-8>
                <h2 ion-text class="no-margin bold text-white">
                  {{client_name}}
                </h2>
                <span ion-text color="light">
                  <ion-badge item-end style="font-size: large;">PKR {{client_balance}}</ion-badge>
                </span>
              </ion-col>
            </ion-row>
            <ion-row no-padding class="other-data"></ion-row>
        </ion-grid>
    </ion-toolbar>
  </ion-header>
      <ion-content>
        <ion-list lines="none">
          <ion-menu-toggle auto-hide="false" *ngFor="let p of pages">
            <ion-item [routerDirection]="'root'" [routerLink]="[p.url]">
              <ion-icon slot="start" color="primary" [name]="p.icon"></ion-icon>
              <ion-label style="font-size: 20px;" color="dark">
                {{p.title}}
              </ion-label>
            </ion-item>
            
          </ion-menu-toggle>
          <ion-item [routerDirection]="'root'" (click)="logout()">
            <ion-icon slot="start" color="primary" name="log-out"></ion-icon>
            <ion-label style="font-size: 20px;" color="dark">
              Logout
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
