<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Current Active Jobs</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div *ngIf="!loading && !nojob && !networkfail">
    <h5 text-center>Your currently active Jobs</h5>
    <ion-card *ngFor="let job of progressJob" class="card" (click)="jobview(job)">
      <ion-card-header class="bold" style="font-size: 20px;color: blue;">
        {{job.title}}
      </ion-card-header>
      <ion-card-content style="font-size: 18px;">
      Professional: {{job.professional}}<br><br>
      Status: {{job.status}}<br><br>
      Assigned on {{job.assign_date}}
      </ion-card-content>
    </ion-card>
  </div>
  <div class="spin" *ngIf="loading">
    <ion-spinner class="large" name="dots"></ion-spinner>
  </div>
  <div class="spin" *ngIf="!loading && nojob && !networkfail">
    <b>No Jobs in progress</b>
  </div>
  <div class="spin" *ngIf="networkfail">
    <b>No internet connection</b>
  </div>
</ion-content>
