.spin {
  left: 0;
  line-height: 200px;
  margin-top: -100px;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
  font-size: 20px;
  color:black;
}
ion-spinner {
  * {
    stroke: blue;
    width: 60px;
    height: 60px;
  }

  &.spinner-circles circle,
  &.spinner-crescent circle,
  &.spinner-bubbles circle,
  &.spinner-dots circle {
    fill: blue;
  }
}

.incrzfont {
  font-size: 18px;
}

p {
  margin-top: 20px;
  // margin-right: 50px;
  // margin-bottom: 20px;
  margin-left: 10px;
}

.email_class {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

ion-list-header {
  background-color: #ececec;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.placeholder-profile {
  color: #cccccc;
}

.dob-label {
  color: #000000 !important;
  padding: 10px !important;
  max-width: 50% !important;
}

ion-spinner {
  width: 100px;
  height: 100px;
}